<% if flash.keys.count > 0 %>
    <% flash.each do |key, value| %>
        <div class="position-fixed p-3" style="z-index: 11;left: 35%">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
                <div class="d-flex">
                    <div class="toast-body">
                        <%= value %>
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    <% end %>
<% end %>

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="color-white">
        <a class="navbar-brand" data-bs-toggle="offcanvas" href="#home-offcanvas" role="button" aria-controls="home-offcanvas">
        <span class="navbar-toggler-icon"></span>
        </a>
        Office Food Court
    </div>
    <form class="justify-content-end">
        <% if current_user %>
          <span class="color-white"><%= current_user.email %></span>
          <%= link_to 'Log Out', sign_out_path, method: :delete , class: "btn btn-outline-light me-2" %>
        <% else %>
          <%= link_to 'Log In', sign_in_path , class: "btn btn-outline-light me-2" %>
          <%= link_to "Sign Up" , new_user_path, class: "btn btn-outline-light me-2"%>
        <% end %>
    </form>
  </div>
</nav>

<div class="offcanvas offcanvas-start w-25" tabindex="-1" id="home-offcanvas" aria-labelledby="home-offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="home-offcanvasLabel">Office Food Court</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body nav flex-column">
        <nav class="list-group">
            <a href="/" class="<%= request.path == root_path ? 'nav-link  active active-link' : 'nav-link non-active-link'%>">Home</a>
            <% if current_user %>
                <a href="/menu/date/<%= Date.today %>/interval/BREAKFAST" class="<%= request.path.start_with?(menu_path) ? 'nav-link  active active-link' : 'nav-link non-active-link'%>">Take me to the menu</a>
                <a href="/checkin/add" class="<%= request.path == checkin_view_path || request.path == checkin_add_path ? 'nav-link  active active-link' : 'nav-link non-active-link'%>">Checkin Office</a>
                <%= link_to 'Log Out', sign_out_path, method: :delete , class: request.path == sign_out_path ? 'nav-link  active active-link' : 'nav-link non-active-link'%>
            <% else %>
                <%= link_to 'Log In', sign_in_path , class: request.path.start_with?(sign_in_path) ? 'nav-link  active active-link' : 'nav-link non-active-link' %>
                <%= link_to "Sign Up" , new_user_path, class: request.path.start_with?(new_user_path) ? 'nav-link  active active-link' : 'nav-link non-active-link'%>
            <% end %>
        </ul>
  </div>
</div>