<%= stylesheet_link_tag 'application.css' %>
<div class="align-content-center justify-content-center">
    <div class="homeheader">
        <div class="hometitle">
        <% if current_user %>
            <span class="font-size-large">Hi <%= current_user.firstname + " " + current_user.lastname %></span>
        <% end %>
        <h1>Welcome to Office Food Court Portal</h1>
        </div>
    </div>
    <% if current_user %>
        <div class="card-deck d-flex banner">
            <div class="tile">
                <a href="/menu/date/<%= Date.today %>/interval/BREAKFAST" class="tile-links">
                    <img class="card-img-top tile-image" src=<%= asset_path("meal-menu.png")%> alt="Menu image" height="50" width="50">
                    <div class="card-body">
                        <h5 class="card-title">Take me to the Menu</h5>
                        <p class="card-text"><small><i>Eager to know the menu even before stepping into dining hall ? This is the place for you.</i></small></p>
                    </div>
                </a>
            </div>
            <div class="tile">
                <a href="/checkin/add" class="tile-links">
                    <img class="card-img-top tile-image" src=<%= asset_path("check-in-office.png")%> alt="CheckIn Office image" height="50" width="50">
                    <div class="card-body">
                        <h5 class="card-title">Checkin Office</h5>
                        <p class="card-text"><small><i>Planning to step into office ? Update your meal preference here.</i></small></p>
                    </div>
                </a>
            </div>
        </div>
    <% else %>
        <div class="card-deck d-flex">
            <div class="home-info-banner w-70">
                <span class="bold">Office Food Court portal</span> - A place where you can
                <div class="home-info-banner home-info-message">
                    <p class="card-text"><i>- Get to know about your Office Food Court menu even before stepping into dining hall.</i></p>
                </div>
                <div class="home-info-banner home-info-message">
                    <p class="card-text"><i>- Update your meal preference before stepping into office.</i></p>
                </div>
            </div>
            <div class="home-info-banner w-30">
                <div class="home-info-banner">
                    <p class="mb-3">New to Office Food Court Portal ?</p>
                    <%= link_to "Sign Up to Get started" , new_user_path, class: 'btn btn-success display-block' %>
                </div>
                <div class="card-body">
                        <small>
                            <i>Already have an account ? <%= link_to "Login here" , sign_in_path %></i>
                        </small>
                    </div>
            </div>
        </div>
    <% end %>
    </div>
</div>