<div class="w-75 menu-box">
<% if @result == "SUCCESS" %>
<div class="alert alert-success" role="alert">
  Request placed successfully.
</div>
<a href="/checkin/view" class="btn btn-info">View My Requests</a>
<%= link_to 'View Meal Pass', checkin_view_pdf_path(@meal_preference.meal_date, format: :pdf) , class: "btn btn-success" , target: '_blank' %>
<a href="/checkin/add" class="btn btn-primary">Create a new food Request</a>
<% elsif @result == "FAILURE" %>
<div class="alert alert-danger" role="alert">
  Error in placing request.
</div>
<a href="/checkin/view" class="btn btn-info">View My Requests</a>
<a href="/checkin/add" class="btn btn-primary">Retry</a>
<% elsif @result == "WARNING" %>
<div class="alert alert-warning" role="alert">
  <%= @error_message %>
</div>
<a href="/checkin/view" class="btn btn-info">View My Requests</a>
<a href="/checkin/add" class="btn btn-primary">Create a new food Request</a>
<% else %>
<h4>Create a new food request</h4>
<div class="food-tile">
  <%= form_tag(checkin_add_path,method: :post,class: 'full-width',model: @meal_preference,authenticity_token: false) do |form| %>
  <div class="mb-3 row">
    <label for="office_email" class="col-sm-3 col-form-label checkin-form-label">
      <span>
        Email address
        <sup class="required-star">*</sup>
      </span>
    </label>
    <div class="col-sm-6 pd-left-2rem">
      <%= email_field_tag :office_email , current_user.email , class: "form-control cursor-not-allowed" , required: true, disabled: true %>
      <div id="emailHelp" class="form-text">Enter you office email address</div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="meal_date" class="col-sm-3 col-form-label checkin-form-label">
      <span>
          Office Visit Date
          <sup class="required-star">*</sup>
      </span>
    </label>
    <div class="col-sm-6 pd-left-2rem">
      <%= date_field_tag :meal_date , "" , class: "form-control" , min: Date.today , required: true , onchange: 'handleVisitDateChange(this.id)' %>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="breakfast" class="col-sm-3 col-form-label checkin-form-label">
      <span>
          Do you need breakfast?
          <sup class="required-star">*</sup>
      </span>
    </label>
    <div class="col-sm-6 pd-left-2rem">
      <div class="form-check">
        <%= radio_button_tag "breakfast","yes" , false , class: "form-check-input" , required: true %>
        <label class="form-check-label" for="breakfast_yes">
          Yes
        </label>
      </div>
      <div class="form-check">
        <%= radio_button_tag "breakfast","no" , false , class: "form-check-input" , required: true%>
        <label class="form-check-label" for="breakfast_no">
          No
        </label>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="lunch" class="col-sm-3 col-form-label checkin-form-label">
      <span>
          Select your choice for Lunch at work
          <sup class="required-star">*</sup>
      </span>
    </label>
    <div class="col-sm-6 pd-left-2rem">
      <div class="form-check">
        <%= radio_button_tag "lunch","veg" , false , class: "form-check-input" , required: true %>
        <label class="form-check-label" for="lunch_veg">
          Veg
        </label>
      </div>
      <div class="form-check">
        <%= radio_button_tag "lunch","non_veg" , false , class: "form-check-input", required: true %>
        <label class="form-check-label" for="lunch_non_veg">
          Non Veg
        </label>
      </div>
      <div class="form-check">
        <%= radio_button_tag "lunch","no" , false , class: "form-check-input" , required: true %>
        <label class="form-check-label" for="lunch_no">
          I do not choose to have lunch at work
        </label>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="dinner" class="col-sm-3 col-form-label checkin-form-label">
      <span>
          Select your choice for Dinner at work
          <sup class="required-star">*</sup>
      </span>
    </label>
    <div class="col-sm-6 pd-left-2rem">
      <div class="form-check">
        <%= radio_button_tag "dinner","veg" , false , class: "form-check-input" , required: true %>
        <label class="form-check-label" for="dinner_veg">
          Veg
        </label>
      </div>
      <div class="form-check">
        <%= radio_button_tag "dinner","non_veg" , false , class: "form-check-input" , required: true %>
        <label class="form-check-label" for="dinner_non_veg">
          Non Veg
        </label>
      </div>
      <div class="form-check">
        <%= radio_button_tag "dinner","no" , false , class: "form-check-input" , required: true %>
        <label class="form-check-label" for="dinner_no">
          I do not choose to have dinner at work
        </label>
      </div>
    </div>
  </div>
  <div class="mb-3 form-check checkin-form-submit">
    <%# <%= submit_tag "Place Request", data: { confirm: "Are you sure?" } , class: "btn btn-primary"%>
    <button type="submit" class="btn btn-primary">Place Request</button>
  </div>
<%# </form> %>
<% end %>
</div>
</div>
<% end %>

