<div class="mealpass-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="4">
              <table>
                <tr>
                  <td class="title">
                    Office Food Court Portal - Meal Pass
                  </td>

                  <td>
                    Meal Date : <b><%= @meal_preference.meal_date.strftime('%d/%m/%Y') %></b>
                    <br>
                    Request Created On : <b><%= @meal_preference.created_at.strftime('%d/%m/%Y') %></b>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr class="information">
            <td colspan="4">
              <table>
                <tr>
                  <td>
                    To : <br/>
                    <b><%= current_user.firstname %> <%= current_user.lastname %></b><br>
                     <i class="far fa-envelope"><%= @meal_preference.office_email %> </i>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

   <tr class="heading">
            <td><b>Meal Pass</b></td>
            <td colspan="2"></td>
            <td class="right"></td>
          </tr>

            <tr class="details">
            <td>Email Address</td>
            <td colspan="2"></td>
            <td class="right"><%= @meal_preference.office_email %></td>
          </tr>
          <tr class="details">
            <td>Meal Date</td>
            <td colspan="2"></td>
            <td class="right"><%= @meal_preference.meal_date.strftime('%d/%m/%Y') %></td>
          </tr>
          <tr class="details">
            <td>Do you need breakfast?</td>
            <td colspan="2"></td>
            <td class="right">
                <% if @meal_preference.breakfast == 'yes' %>
                Yes
                <% else %>
                No
                <% end %>
            </td>
          </tr>
          <tr class="details">
            <td>Your choice for Lunch at work</td>
            <td colspan="2"></td>
            <td class="right">
                <% if @meal_preference.lunch == 'veg' %>
                Veg
                <% elsif @meal_preference.lunch == 'non_veg' %>
                Non Veg
                <% else %>
                I do not choose to have lunch at work
                <% end %>
            </td>
          </tr>
          <tr class="details">
            <td>Your choice for Dinner at work</td>
            <td colspan="2"></td>
            <td class="right">
                <% if @meal_preference.dinner == 'veg' %>
                Veg
                <% elsif @meal_preference.dinner == 'non_veg' %>
                Non Veg
                <% else %>
                I do not choose to have dinner at work
                <% end %>
            </td>
          </tr>
</div>
        </table>
    </div>